---
name: cities
url: /cities
---


<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div class="grid-container align-center">
			<div ng-controller="citiesController">
				<section class="block-list">
					<ul>
						<li align="center">
							<div class="grid-block">
								<div class="align-center medium-1 grid-block">
									<b>Id:</b>
								</div>
								<div class="align-center medium-3 grid-block">
									<b>Name:</b>
								</div>
								<div class="align-center medium-2 grid-block">
									<b>Country:</b>
								</div>
								<div class="align-center medium-2 grid-block">
									<b>Population:</b>
								</div>
								<div class="align-center medium-4 grid-block">
									<b>Added at:</b>
								</div>
								<div class="align-center medium-1 grid-block">
									<a ui-sref="new-city">Добавить</a>
								</div>
							</div>
						</li>
						<li align="center" ng-repeat="object in cities">
							<div class="grid-block">
								<div class="align-center medium-1 grid-block">
									{{object.id}}
								</div>
								<div class="align-center medium-3 grid-block">
									{{object.name}}
								</div>
								<div class="align-center medium-2 grid-block">
									{{object.country}}
								</div>
								<div class="align-center medium-2 grid-block">
									{{object.population}}
								</div>
								<div class="align-center medium-4 grid-block">
									{{object.created_at}}
								</div>
								<div class="align-center medium-1 grid-block">
									<a ui-sref="edit-city({cityId: object.id})">Изменить</a>
								</div>
								<div class="align-center medium-1 grid-block">
									<a zf-open="ConfirmOfDeletingModalDialog">X</a>

									<div zf-modal="" id="ConfirmOfDeletingModalDialog" overlay="false" overlay-close="false" class="tiny dialog">
										<p><h5>Вы действительно хотите удалить данный объект?</h5></p>
										<div class="grid-block align-spaced">
											<div class="grid-block medium-5 align-center">
												<a zf-close="" ng-click="delete(object.id)"  class="alert expand button">OK</a>
											</div>
											<div class="grid-block medium-5 align-center">
												<a zf-close="" class="secondary expand button">Отмена</a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>

	</body>
</html>