---
name: new-user
url: /users/new
---


<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div class="grid-container align-center">
			<div ng-controller='newUserController'>
				<form name="userForm" align="center">
					<div class="medium-6 grid-content">
						<br/>
						<div ng-class="{error: !userForm.role.$pristine}">
							<label class="form-label">
								Категория:
							</label>
							<select ng-model="newUser.role"  name="rolesDroupDown">
								<option value="carrier">Компания</option>
								<option value="editor">Модератор</option>
								<option value="admin">Администратор</option>
							</select>
						</div>
						<div ng-class="{error: !userForm.carrier_id.$pristine}">
							<label class="form-label">
								Транспортная компания:
							</label>
							<select ng-model="newUser.carrier_id"  name="carriersDroupDown">
								<option ng-repeat="object in carriers" value="{{object.id}}">{{object.display_name}}</option>
							</select>
						</div>
						
						<div ng-class="{error: userForm.name.$invalid && !userForm.name.$pristine}">
							<label class="form-label">
								Имя:
							</label>
							<input type="text" ng-model="newUser.name" name="name" placeholder="Кирилл" required>
						</div>
						
						<div ng-class="{error: userForm.surname.$invalid && !userForm.surname.$pristine}">
							<label class="form-label">
								Фамилия:
							</label>
							<input type="text" ng-model="newUser.surname" name="surname" placeholder="Андрианов" required>
						</div>
						
						<div ng-class="{error: userForm.email.$invalid && !userForm.email.$pristine}">
							<label class="form-label">
								E-mail:
							</label>
							<input type="text" ng-model="newUser.email" name="email" placeholder="kerill.net@gmail.com" required>
						</div>
						<div ng-class="{error: userForm.password.$invalid && !userForm.password.$pristine}">
							<label class="form-label">
								Пароль:
							</label>
							<input type="password" ng-model="newUser.password" name="password" placeholder="" required>
						</div>
						<div ng-class="{error: userForm.repassword.$invalid && !userForm.repassword.$pristine}">
							<label class="form-label">
								Повторите пароль:
							</label>
							<input type="password" ng-model="repassword" name="repassword" placeholder="" required>
						</div>
						<div class="grid-block align-spaced">
							<div class="grid-block medium-5 align-center">
								<a class="secondary expand button" href="#" ui-sref="users">Отмена</a>
							</div>
							<div class="grid-block medium-5 align-center">
								<a class="success expand button" ng-click="save()" ng-disabled="userForm.$invalid" href="#" >Добавить</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>