---
name: home
url: /
---

<div class="grid-container">
	<div class="align-center grid-content">
		<h2>Simplify traffic v.0.0.1</h2>
		<h3>На данный момент мы имеем:</h3>
		<p>1. Возможность вывода / добавления / изменения / удаления любого объекта. </p>
		<p>2. Связь объектов с другими объектами на всех страницах осуществеляется грамотно и аккуратно, несуществующие объекты отлавливаются, а существующие выводятся.</p>
		<p>3. У юзверов можно даже задавать пароль в соотвествующем поле с повтором набора.</p>
		<p>4. Код приведен в хорошее, оптимальное, грамотное состояние. 
	</div>
</div>
