---
name: home
url: /
---

<div class="grid-container">
		<div class="align-center grid-block">
			<h2>Simplify traffic</h2>
		</div>
		<div class="align-center grid-block">
			<h3>На данный момент мы имеем:</h3>
		</div>
		<div class="align-center grid-block">
			<p>1. Список транспортных средств в баяне.</p>
		</div>
		<div class="align-center grid-block">
			<p>2. Список транспортных средств в грид-листе с  ссылкой и шевроном.</p>
		</div>
		<div class="align-center grid-block">
			<p>3. Список шоферов в грид-листе с  ссылкой и шевроном.</p>
		</div>
		<div class="align-center grid-block">
			<p>4. Список городов в грид-листе с  ссылкой и шевроном.</p>
		</div>
</div>
