---
name: home
url: /
---


<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div class="grid-container">
		<div class="grid-container align-center">
				<h2 align="center">Simplify traffic v.0.0.2</h2>
				<h3 align="center">На данный момент мы имеем:</h3>
				<p>1. Возможность вывода / добавления / изменения / удаления любого объекта. </p>
				<p>2. Связь объектов с другими объектами на всех страницах осуществеляется грамотно и аккуратно, несуществующие объекты отлавливаются, а существующие выводятся.</p>
				<p>3. У юзверов можно даже задавать пароль в соотвествующем поле с повтором набора.</p>
				<br/>
				<h3 align="center">Список изменений:</h3>
				<h4>Версия 0.0.2:</h4>
				<p>1. Исправлен косяк в удалении городов.</p>
				<p>2. Поправлена разметка страничек.</p>
				<p>3. Добавлен временный токен в тело POSTa юзера.</p>
			</div>
		</div>
	</body>
</html>