---
name: new-carrier
url: /carriers/new
---

<div class="grid-container">
	<form name="vehicleCreateForm" align="center">
		<div class="medium-6 grid-content">
			<br/>
			<label>Юридическое наименование компании:</label>
			<input type="text" ng-model="" name="" placeholder="">

			<label>Отображаемое название:</label>
			<input type="text" ng-model="" name="" placeholder="">

			<label>Отображаемое название:</label>
			<input type="text" ng-model="" name="" placeholder="">
				
			<label>Примечание:</label>
			<textarea name="description" ng-model=""></textarea>

			<label>Адрес:</label>
			<textarea name="description" ng-model=""></textarea>

			<label>Телефон::</label>
			<input type="text" ng-model="" name="" placeholder="">

			<label>Е-mail:</label>
			<input type="text" ng-model="" name="" placeholder="">

			<label>Имя контактного лица:</label>
			<input type="text" ng-model="" name="" placeholder="">
		

			<div class="grid-block align-spaced">
				<div class="grid-block medium-5 align-center">
					<a class="secondary expand button" href="#" >Отмена</a>
				</div>
				<div class="grid-block medium-5 align-center">
					<a class="success expand button" href="#" >Добавить</a>
				</div>
			</div>	
		</div>
	</form>
</div>