---
name: new-vehicle
url: /vehicles/new
---

<div class="grid-container">
	<div ng-controller='newVehicleController'>
	<form name="vehicleCreateForm" align="center">
		<div class="medium-6 grid-content">
			<br/>
				
				<label class="form-label">
					Вид транспортного средства:
				</label>
				<select ng-model="newVehicle.type" name="vehicleDroupDown">
					<option value="bus">Автобус</option>
				</select>
		

			<div ng-controller="carriersList">
					<label class="form-label">
						Транспортная компания:
					</label>
					<select ng-model="newVehicle.carrier_id"  name="carriersDroupDown">
						<option ng-repeat="object in carriers" value="{{object.id}}">{{object.display_name}}</option>
					</select>
			</div>
				
			<div ng-class="{error: vehicleCreateForm.number.$invalid && !vehicleCreateForm.number.$pristine}">
					<label class="form-label">
						Регистрационный номер:
					</label>
					<input type="text" ng-model="newVehicle.number" name="number" placeholder="ср435д56" required>
			</div>

			
			<div ng-class="{error: vehicleCreateForm.manufacturer.$invalid && !vehicleCreateForm.manufacturer.$pristine}">
						<label class="form-label">
							Производитель:
						</label>
					<input type="text" ng-model="newVehicle.manufacturer" name="manufacturer" placeholder="Mersedes" required>
			</div>

			
			<div ng-class="{error: vehicleCreateForm.car_model.$invalid && !vehicleCreateForm.car_model.$pristine}">
					<label class="form-label">
						Модель:
					</label>
					<input type="text" ng-model="newVehicle.car_model" name="car_model" placeholder="S600" required>
			</div>
			
			<div ng-class="{error: vehicleCreateForm.date_manufactured.$invalid && !vehicleCreateForm.date_manufactured.$pristine}">
					<label class="form-label">
							Дата производства:
					</label>
				
					<input type="text" ng-model="newVehicle.date_manufactured" name="date_manufactured" placeholder="2015/05/16" required>
			</div>

			<div ng-class="{error: vehicleCreateForm.payed_until.$invalid && !vehicleCreateForm.created_at.$pristine}">
					<label class="form-label">
							Оплачено до:
					</label>
				
					<input type="text" ng-model="newVehicle.payed_until" name="payed_until" placeholder="2015-10-16 11:59:47 +0000" required>
			</div>

			<div class="grid-block align-spaced">
				<div class="grid-block medium-5 align-center">
					<a class="secondary expand button" href="#" ui-sref="vehicles">Отмена</a>
				</div>
				<div class="grid-block medium-5 align-center">
					<a class="success expand button" ng-click="save()" ng-disabled="vehicleCreateForm.$invalid" href="#" >Добавить</a>
				</div>
				
			</div>	
		</div>
	</form>
	</div>
</div>