<!doctype html>
<html lang="en" ng-app="application">
<head>
  <meta charset="utf-8" />
</head>

<body>
  <br/>
  <div class="grid-container">
    <div zf-tabs="" class="primary">
      <div zf-tab="" ui-sref="vehicles" title="Vehicles"></div>
      <div zf-tab="" ui-sref="carriers" title="Carriers"></div>
      <div zf-tab="" ui-sref="cities" title="Cities"></div>
      <div zf-tab="" ui-sref="users" title="Users"></div>
      <div zf-tab="" ui-sref="stops" title="Stops"></div>
      <div zf-tab="" ui-sref="routes" title="Routes"></div>
    </div>
  </div>
</body>
</html>