---
name: transport-temp
url: /transport-temp
---

<div class="grid-container">
<div ng-controller="vehiclesList">
        <zf-accordion auto-open="false">
        	<div align="center"><h5><b>Vechicles list:</b></h5></div>
			<zf-accordion-item ng-repeat="object in vehicles" title="{{object.id}}: {{object.type}} № {{object.number}}   ">
			Водитель: {{object.carrier_id}}<br>
			Модель: {{object.manufacturer}} {{object.car_model}}<br>
			Добавлен: {{object.created_at}}<br>
			Оплачен до: {{object.payed_until}}<br>
			</zf-accordion-item>
		</zf-accordion>
  </div>
</div>

